.hero{
    background:url('./assets/hero.png')
}

.overlay{
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);
}

.plainback{
    background-color: rgb(10,11,26);
}

.libre{
    font-family: 'Libre Baskerville', serif;
}

.rubik{
    font-family: 'Rubik', sans-serif;
}

.nunito{
    font-family: 'Nunito', sans-serif;
}

.rem40{
    width:40rem;
}

.card{
    background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
    border-radius: 8px;
    max-height: 350px;
    max-width: 250px;
    margin:24px;

}

.cardover{
    max-width:240px;
    max-height:340px;
    background: #111229;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.revcard{
    background: linear-gradient(143.63deg, #276C73 5.43%, #5293E8 110.6%);
    border-radius: 16px;
    min-height: 250px;
    max-width: 380px;
    margin:10px;
}

.revcardover{
    background: #0A0B1A;
    border: 2px solid #E5AF56;
    box-sizing: border-box;
    border-radius: 16px;
    min-height: 240px;
    max-width: 370px;
    margin-top: 10px;
    
}

.card{
        background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
        border-radius: 8px;
        max-height: 350px;
        max-width: 250px;
        padding:8px;
        padding-bottom:0px;
        padding-left:0px;
    }
    
    .cardover{
        max-width:240px;
        max-height:340px;
        background: #111229;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    
    .revcard{
        background: linear-gradient(143.63deg, #276C73 5.43%, #5293E8 110.6%);
        border-radius: 16px;
        min-height: 250px;
        max-width: 380px;
        padding:1px;
        padding-bottom:0px;
        padding-left: 0px ;

    }
    
    .revcardover{
        background: #0A0B1A;
        border: 2px solid #E5AF56;
        box-sizing: border-box;
        border-radius: 16px;
        min-height: 240px;
        max-width: 370px;
        margin:10px;
        margin-left:0px;
        
    }

    .textxxs{
        font-size: 0.4rem;
        line-height: 0.75rem;
    }

.circle{
    margin-left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: thin;
    border-color: #ffffffa2;
}

.underline{
    text-decoration: underline;
    text-decoration-color: rgb(58, 58, 241);
}

.ticket:hover{

}
hr{
    width:10px;
    margin-top:0px;
    padding-left: 20px;
    border: 2px solid rgb(2,89,235);
}
@media (min-width: 640px) {

    .card{
        background: linear-gradient(163.41deg, #301A68 0.11%, #234C97 170.69%);
        border-radius: 8px;
        max-height: 350px;
        max-width: 250px;
        padding:8px;
        padding-bottom:0px;
        padding-left:0px;
    
    }
    
    .cardover{
        max-width:240px;
        max-height:340px;
        background: #111229;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    
    .revcard{
        background: linear-gradient(143.63deg, #276C73 5.43%, #5293E8 110.6%);
        border-radius: 16px;
        min-height: 250px;
        max-width: 380px;
        padding:1px;
        padding-bottom:0px;
        padding-left: 0px;
    }
    
    .revcardover{
        background: #0A0B1A;
        border: 2px solid #E5AF56;
        box-sizing: border-box;
        border-radius: 16px;
        min-height: 240px;
        max-width: 370px;
        margin-top: 0px;
        
    }
 }

@tailwind base;
@tailwind components;
@tailwind utilities;
